* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

.wrapper {
    position: relative;
}

/* Menu*/
nav {
    align-items: flex-end;
    background-color: #fff;
    display: flex;
    height: 13vh;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    align-self: center;
    color: #262626;
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    text-decoration: none;
    transition: .3s;
}

.logo:hover {
    color: #ff6033;
}

ul.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 40%;
}

ul.menu li {
    padding-bottom: 1rem;
}

.menu a {
    border-top: 4px solid #fff;
    color: #262626;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: .5rem;
    text-decoration: none;
    transition: .3s;
}

.menu a:hover {
    border-top: 4px solid #ff6033;
}

/* First section - Header */
header {
    background-color: #f9f8fb;
    background-image: url('./img/img1.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 110vh;
    justify-content: center;
    position: relative;
}

.hero-image {
    padding-left: 16rem;
    width: 25%;
    color: #262626;
}

header h1 {
    font-size: 6rem;
    font-weight: 600;
    padding-bottom: 3rem;
}

header p {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.7rem;
    padding-bottom: 4.8rem;
}

header a {
    background-color: #ff6033;
    border: 1px #fff solid;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    padding: 1.8rem 2.2rem 1.8rem 2.2rem;
    text-transform: uppercase;
    transition: .3s;
}

header a:hover {
    background-color: #fff;
    border: 1px #ff6033 solid;
    color: #ff6033;
}

header img {
    bottom: 5vh;
    height: 2.8rem;
    left: calc(50% - .84rem);
    position: absolute;
    width: 1.68rem;
}

/* Second section - About-us */
.about-us {
    align-items: flex-end;
    background-color: #00b3b3;
    background-image: url('./img/img2.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    padding-right: 16rem;
}

.copy-in-about-us {
    width: 40%;
}

.about-us h2 {
    font-size: 7rem;
    font-weight: 700;
    padding-bottom: 3rem;
}

.about-us p {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.7rem;
    padding-bottom: 2.5rem;
}

/* Third section - Our services */
.our-services {
    background-color: #70bfff;
    background-image: url('./img/img3.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
}

.our-serives-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 55%;
}

.our-services-box {
    align-content: center;
    display: flex;
    padding-bottom: 2.5rem;
    width: 75%;
}

.our-services-box p {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 2rem;
    justify-content: center;
    padding: 2rem 4rem;
    transition: .6s;
    width: 70%;
}

.our-services-box i {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 3rem;
    line-height: 6rem;
    text-align: center;
    transition: .6s;
    width: 6rem;
}

.our-services-box:hover>p {
    background-color: #ff6033;
    border: 1px solid #000;
    color: #fff;
}

.our-services-box:hover>i {
    background-color: #ff6033;
    border: 1px solid #000;
    color: #fff;
}

.our-services h2 {
    color: #fff;
    font-size: 7rem;
    font-weight: 700;
    padding-bottom: 3rem;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-3rem);

}

/* Fourth section - Gallery */
.gallery {
    background-color: #ffe92f;
}

.gallery-content-box {
    align-items: center;
    color: #262626;
    display: flex;
    flex-direction: column;

}

.gallery h2 {
    font-size: 7rem;
    font-weight: 500;
    padding-bottom: 4rem;
    padding-top: 10rem;
}

.gallery p {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.7rem;
    padding-bottom: 2.5rem;
    text-align: center;
    width: 40%;
}

.all-gallery {
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-photos-box {
    display: flex;
}



.box-photo-2-and-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 100%;
}

.box-photo-4-and-5 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-bottom: 10rem;
}



.gallery img {
    cursor: pointer;
    max-width: 100%;
    padding: 1.2rem;
    transition: .3s;
}

.box-photo-4-and-5 img {
    max-width: calc(50% - 2.4rem);
}

.gallery img:hover {
    transform: scale(1.025);
}

.gallery a {
    background-color: #96b92c;
    border: 1px #96b92c solid;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-left: 2rem;
    padding: .5rem 2rem;
    text-decoration: none;
    transition: .3s;

}

.gallery a:hover {
    background-color: #ff6033;
    border: 1px #ff6033 solid;
    color: #fff;
}

/* 
.gallery-photos-box img, .box-photo-2-and-3 img, .box-photo-4-and-5 img {
    max-width: 100%
} */


/* Fifth section - Subscribe */

.subscribe {
    align-items: center;
    background-color: #fff;
    background-image: url('./img/img9.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    color: #262626;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}

.subscribe-box-content {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.subscribe h2 {
    font-size: 4rem;
    font-weight: 500;
    padding: 0 0 2rem 4rem;

}

.subscribe p {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.7rem;
    padding-bottom: 3rem;
    width: 45%;
}

.subscribe input {
    border: 1px solid #dbdbdb;
    line-height: 5rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 2rem;
    width: 40%;
}

.subscribe-input-box {
    display: flex;
}

.subscribe a {
    background-color: #96b92c;
    border: 1px #96b92c solid;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-left: 2rem;
    padding: .5rem 2rem;
    text-decoration: none;
    transition: .3s;
}

.subscribe a:hover {
    background-color: #ff6033;
    border: 1px #ff6033 solid;
    color: #fff;
}


/* Sixth section - Blog */
.blog {
    color: #fff;
    display: flex;
    background-color: #b07cf7;
    height: 100vh;
    justify-content: center;
}

.blog h2 {
    font-size: 7rem;
    font-weight: 500;
    padding-bottom: 4rem;
    padding-top: 10rem;
}

.blog p {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.7rem;
    padding-bottom: 2.5rem;
    text-align: center;
    width: 40%;
}

/* Seventh section - Contact */
.contact {
    background-image: url('./img/img13.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    height: 100vh;
}

.contact h2 {
    font-size: 7rem;
    font-weight: 500;
    padding-bottom: 4rem;
    padding-top: 10rem;
}

.contact p {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.7rem;
    padding-bottom: 2.5rem;
    text-align: center;
    width: 40%;
}

/* Eitghth section - Footer */
.footer {
    align-items: center;
    background-color: #262626;
    color: #b9b9b9;
    display: flex;
    font-size: 1.6rem;
    height: 10vh;
    justify-content: space-around;
}

.logo-footer {
    color: #b9b9b9;
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    text-decoration: none;
    transition: .3s;
}

.logo-footer:hover {
    color: #ff6033;
}